body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sm-login {
  position: relative;
  top: 150px;
  margin: 0 auto; 
  width: 50%;
  text-align: center;
  background: rgba(255, 255, 255, 0.15) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(4.7px) !important;
    -webkit-backdrop-filter: blur(4.7px) !important;
    border: 1px solid rgba(255, 255, 255, 0.04) !important;
}


