body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sm-login {
  position: relative;
  top: 150px;
  margin: 0 auto; 
  width: 50%;
  text-align: center;
  background: rgba(255, 255, 255, 0.15) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(4.7px) !important;
    -webkit-backdrop-filter: blur(4.7px) !important;
    border: 1px solid rgba(255, 255, 255, 0.04) !important;
}
.animated-gradient {
    background: linear-gradient(270deg, #f9c622, #ffffff, #f9c622, #fffcf3);
    background-size: 800% 800%;
    position: absolute;
    width: 100%;
    height: 3px;
    min-height: 3px;
    top: 0;
    z-index: 9999;
    left: 0;
    -webkit-animation: LoadingGradient 4s ease-in-out infinite;
    -moz-animation: LoadingGradient 4s ease-in-out infinite;
    animation: LoadingGradient 4s ease-in-out infinite;
}

@-webkit-keyframes LoadingGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes LoadingGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes LoadingGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.titles {
  font-size: 14px !important;
  color:rgb(117, 117, 117);
  padding: 0;
}

.inputs {
  font-size: 12px !important;
}